.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  padding: 0 16px 0 14px;
  color: var(--color-grey-300);
  font-size: var(--text-base);
  line-height: 1;
  font-weight: var(--weight-normal);
}

.iconLabel {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  line-height: 16px;
}

.labelText {
  font-size: inherit;
  color: inherit;
  white-space: nowrap;
  position: relative;
  top: 1px;
}

.value {
  font-size: var(--text-sm);
  color: var(--color-paperwhite-50);
  white-space: nowrap;
  line-height: 16px;
  position: relative;
  top: 1px;
}
