/* ─── Track ───────────────────────────────────────────────── */

.track {
  position: relative;
  width: 28px;
  height: 16px;
  border-radius: 16px;
  background: var(--color-grey-850);
  cursor: pointer;
}

.track:focus {
  outline: none;
  background: var(--gradient-primary);
}

.trackInnerRing {
  position: absolute;
  inset: 1px;
  border-radius: 15px;
  background: #0F1010;
  z-index: 1;
}

.trackInnerGradient {
  position: absolute;
  inset: 2px;
  border-radius: 14px;
  background: var(--gradient-primary);
  z-index: 3;
  clip-path: inset(0 100.00% 0 0);
  transition: clip-path 0.15s ease;
}

.trackInnerBackground {
  position: absolute;
  inset: 2px;
  border-radius: 14px;
  background-color: var(--color-grey-925);
  z-index: 2;
}

/* ON: clip-path moves from 100 to 0 on the gradient which is absolutely positioned */
.track:not([data-disabled])[data-state='checked'] .trackInnerGradient {
    clip-path: inset(0 0% 0 0);
}


/* ─── Disabled ─────────────────────────────────────────────── */

.track[data-disabled] {
  cursor: not-allowed;
}

.track[data-disabled][data-state='unchecked'], .track[data-disabled][data-state='checked']  {
  background: var(--color-grey-600);
}

.track[data-disabled][data-state='unchecked'] .trackInnerBackground {
  background-color: var(--color-grey-700);
}

.track[data-disabled][data-state='checked'] .trackInnerGradient {
  clip-path: inset(0 0 0 0);
  opacity: 0.56;
}

/* ─── Handle ───────────────────────────────────────────────── */

.handle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-paperwhite-50);
  position: relative;
  left: 2px;
  z-index: 5;
  transition: transform 0.15s ease;
  will-change: transform;
}

.track[data-state='checked'] .handle {
  transform: translateX(12px);
}

.track[data-disabled] .handle {
  background: var(--color-grey-750);
}
